<h2>WELCOME, <%= currentUser.firstName %></h2>

<!-- <h4>Province: <%= province.name %></h4>
    <% province.tipId.forEach(tip=>{%>
        <p><%= tip.username %></p>
        <p><%= tip.description %></p>
    <%})%>
</div> -->

<!-- comment form here -->
<h5>Comment here:</h5>

<form action="/home/<%= tip.id %>" method="POST">
  <div>
    <label for="commenter">Name</label>
    <input type="text" id="commenter" name="name" required>
  </div>
  <div>
    <label for="content">Content</label>
    <textarea type="text" id="content" name="content" required></textarea>
  </div>

  <input type="submit" class="btn btn-primary" value="Comment">
</form>

<h5>Comments</h5>
<% if(tip.comments.length > 0) { %>
  <% tip.comments.forEach(comment => { %>
      <p><strong><%= comment.name %> says:</strong></p>
      <p><%= comment.content %></p>
    </div>
  <% }); %>
<% } %>
