<h2>WELCOME, <%= currentUser.firstName %></h2>
<h2>Provinces</h2>

<% provinces.forEach((province) => { %>
  <div>
    <h3>
      <a href="/home/<%= province.id %>"><%= province.name %></a>
    </h3>
  </div>
<% }) %>

<% if(provinces && provinces.tips) { %>
  <% provinces.tips.forEach((province,tip) => { %>
    <div>
      <h3>
        <a href="/home/<%= province.id %>/<%= tip.id %>"><%= tip.description%></a>
      </h3>
    </div>
  <% }) %>
<% } else { %>
<h3>No tips from a province yet!</h3>
<% } %>

<!-- MAPS API RENDERING HERE -->
<!-- comment form here -->