<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">Tip Id: <%= tip.id %></div>
    <div class="card-body">
      <h5 class="card-title">Located in: <%= tip.address %></h5>
      <p class="card-text">Tip Description: <%= tip.description %></p>
    </div>
</div>

<!-- comment form here -->
<h4>Comment here:</h4>

<form action="/home/tip/<%= tip.id %>/comments" method="POST">
  <div>
    <label for="commenter">Name</label>
    <input type="text" class="form-control" id="commenter" name="name" required>
  </div>

  <div>
    <label for="content">Content</label>
    <textarea type="text" class="form-control" id="content" name="content" required></textarea>
  </div>

  <input type="submit" class="btn btn-primary" value="Comment">
</form>

<h4>Comments</h4>
<% if(tip.comments.length > 0) { %>
  <% tip.comments.forEach(comment => { %>
    <div>
      <p><strong><%= comment.name %> says:</strong></p>
      <p><%= comment.content %></p>
    </div>
  <% }); %>
<% } %>

<a href="/home/index">&larr; Back Home</a>