<h2><%= currentUser.firstName %>'s Tips</h2>

<% if(user && user.tips) { %>
    <% user.tips.forEach((tip) => { %>
        <div>
            <h3>
                Tip Id: <%= tip.id %> . 
                <br>
                Tip Description: <%= tip.description %>
                <br>
                <small>Located in: <%= tip.address %></small>
                <form method="POST" action="/tips/show/<%= tip.id %>/?_method=DELETE">
                    <input type="submit" value="Delete">
                </form> 
            </h3>
        </div>
    <% }) %>
<% } else { %>
<h3>No tips yet! <a href="/tips/new/<%= user.id %>"> Make a tip? </a></h3>
<% } %>



<a href="/home/index">&larr; Back Home</a>